attrs==25.4.0
autocommand==2.2.2
babel==2.17.0
supabase==2.31.0
bcrypt==5.0.0
blinker==1.9.0
certifi==2026.1.4
chardet==5.2.0
click==8.1.8
cryptography==46.0.5
idna==3.11
inflect==7.5.0
Jinja2==3.1.6
jsonpatch==1.32
jsonpointer==2.4
jsonschema==4.19.2
jsonschema-specifications==2023.12.1
libpass==1.9.3
linkify-it-py==2.0.3
markdown-it-py==3.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
more-itertools==10.8.0
oauthlib==3.3.1
packaging==26.0
pbr==7.0.3
pillow==12.1.1
Pygments==2.19.2
pyparsing==3.3.2
PyYAML==6.0.3
referencing==0.36.2
requests==2.32.5
rich==13.9.4
rpds-py==0.27.1
setuptools==78.1.1
typeguard==4.4.4
typing_extensions==4.15.0
uc-micro-py==1.0.3
urllib3==2.6.3
wheel==0.46.3
zipp==3.23.0